html {
  overflow-x: hidden;
}

.logo {
  height: 32px;
  margin: 16px;
  background: rgba(255, 255, 255, 0.3);
}

img {
  width: 100%;
}

ul {
  margin-left: 1rem;
}

.site-layout {
  width: 750px;
  margin: auto;
  min-height: 100%;

  @media (max-width: 768px) {
    width: 95%;
  }
}
